
:root {
    --red: #FA4B6C;
    --red-button-hover: #FA4B6C10;
    --red-error: indianred;
    --green-valid: #0DB3B4;
    --gray-disabled: #97A2AA;
    --gray-info-button: #97A2AA;
    --dark-blue: #0A112D;
    --primary: #efeff8;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: Inter, sans-serif;
}