.detail > div {
    margin-top: 50px;
}

.detail .back {
    margin-top: 0px;
    transition: all 300ms ease;
}

.detail .back a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.detail .back:hover {
    transform: translateX(-5px);
}

.detail .back img {
    transform: rotate(180deg)
}


.detail h1 {
    font-weight: 600;
    font-size: 2rem;
}

.detail h2 {
    font-weight: 400;
    font-size: 1.8rem;
}

.detail p {
    margin: 5px 0 5px 0;
}

.detail .header1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--gray-disabled);
    margin-top: 0px;
    padding: 0px 0 20px 0;
}

.detail .header2 {
    margin-top: 0px;
    display: flex;
}

.detail .header2 > div {
    margin-top: 10px;
    margin-right: 20px;
}

.detail .header2 > div span {
    color: var(--gray-disabled);
}

.detail .badge {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.detail .logo {
    width: 200px;
    height: 200px;
}

.detail .logo img {
    max-width: 100%;
    max-height: 100%;
}

.detail .carousel {
    margin-left: 30%;
    width: 50%;
}

.detail .demoContainer {
    position: relative;
    overflow: hidden;
    width: 640px;
    height: 360px; /* 16:9 */
}
.detail .demoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media screen and (max-width: 767px) {
    .detail .demoContainer {
        width: 100%;
        height: auto !important;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    }

    .detail .logo {
        width: 100px;
        height: 100px;
    }
}