.layout {
    position: relative;
    top: 10px;
    width: 100%;
}

.list {
    margin-left: 10px;
}
.list h2 {
    font-weight: 600;
}
.cards {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    overflow: hidden !important;
}

.card {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    box-shadow: 0px 6px 10px rgb(35 42 68 / 10%);
    transition: all 0.1s ease-out;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 16px rgb(35 42 68 / 10%);
}

.card h2 {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card .badge {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.card .inner {
    display: flex;
}

.card .logo {
    position: relative;
    align-self: center;
    width: 100px;
    height: 100px;
}


.card .cardContent {
    padding: 20px;
    height: initial;
    text-align: left;
    flex: 1;
}

.card .cardContent p {
    font-size: 12px;
}

@media screen and (max-width: 767px) {
    .list {
        margin-left: 0px;
    }
    .cards {
        grid-template-columns: 1fr !important;
    }
    .card {
        flex: 1 0 90%;
        box-shadow: initial !important;
    }

}