.topBar {
    width: 100%;
    min-height: 100px;
    z-index: 100;
    display: flex;
    background-color: var(--primary);
    color: var(--dark-blue);
}

.topBar .title {
    display: flex;
    margin: 20px 15% 0 15%;
    width: 100%;
}

.topBar .title h1 {
    font-weight: 600;
    margin: 0;
    width: 100%;
    text-align: center;
}

.topBar .title .logo{
    position: relative;
    width: 130px;
}


.navToggle {
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.navToggle .iconBar {
    position: absolute;
    left: 12px;
    width: 26px;
    height: 2px;
    background-color: white;
}

.navToggle .iconBar:nth-child(1) {
    top: 17px;
}

.navToggle .iconBar:nth-child(2) {
    top: 24px;
}

.navToggle .iconBar:nth-child(3) {
    top: 31px;
}

.menuOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    visibility: hidden;
}

.menuOverlay.active {
    visibility: visible;
    opacity: 1;
}


.main {
    display: flex;
    height: 100%;
    min-height: 100vh;
    background-color: white;
    margin: 60px 15% 0 15%;
}

@media screen and (max-width: 767px) {

    .topBar {
        min-height: initial !important;
        padding: initial !important;
        position: fixed;
    }

    .topBar .title {
        margin: initial !important;
        justify-content: center;
    }

    .topBar .title h1 {
        display: none;
    }

    .navToggle {
        display: block;
    }


    .main {
        margin: 20px 10px 0 10px;
    }

}

