
.searchBar {
    position: relative;
    width: 100%;
}

.searchBar .searchInput {
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    box-shadow: 0px 6px 10px rgba(35, 42, 68, 0.1);
    border-radius: 4px;
    padding-right: 10px;
    height: 40px;

    padding-left: 40px !important;
    width: 100% !important;
}

.searchBar .searchIcon {
    position: absolute;
    left: 8px;
    top: 8px;
}

.searchBar .suggestions {
    position: absolute;
    background: #FFFFFF;
    z-index: 2;
    width: 100%;
    border: 1px solid #E3E3E3;
    border-top: none;
    box-sizing: border-box;
    box-shadow: 0px 6px 10px rgb(35 42 68 / 10%);
    border-radius: 4px;
}

.searchBar .suggestions ul{
    list-style: none;
    padding: 0;
}

.searchBar .suggestions li{
    padding: 5px 40px 5px 40px;
    font-size: 13px;
    cursor: default;
}

.searchBar .suggestions li.selected{
    background: #E3E3E3;
}

.searchBar .suggestions li:hover{
    background: #E3E3E3;
}