.nav {
    z-index: 99;
    width: 300px;
    color: black;
    background-color: white;
}

.nav h2 {
    font-weight: 600;
}

.nav div {
    display: flex;
    flex-direction: column;
}

.nav a {
    margin: 8px 0;
    text-decoration: none;
    font-size: 14px;
    padding: 2px 16px;
    font-weight: 400;
    color: black;
}

.nav a.activeLink {
    font-weight: 800;
}

@media screen and (max-width: 767px) {
    .nav {
        display: none;
    }

    .nav.active {
        position: fixed;
        left: 0;
        top: 50px;
        height: 100%;
        display: block;
    }

}